services:
  db:
    image: postgres:18.0
    restart: always
    ports:
      - 54321:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: drenk83
      POSTGRES_DB: weather
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
